<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
      <nav class="navbar navbar-inverse fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">WheelsForMeals</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="home.html">Home</a></li>
              <li><a href="home.html">Back</a></li>
            </ul>
          </div>
        </div>
      </nav>
          <img src="images/aaaa.png" style="width: 300px;height:50px"><br><br><br>
        <script>
            var app = angular.module("myShoppingList", []); 
            app.controller("myCtrl", function($scope) {
                $scope.products = ["lemonJuice Rs15", "Soda Rs15", "Chocolate Icecream Rs20"];
                $scope.addItem = function () {
                    $scope.errortext = "";
                    if (!$scope.addMe) {return;}
                    if ($scope.products.indexOf($scope.addMe) == -1) {
                        $scope.products.push($scope.addMe);
                    } else {
                        $scope.errortext = "The item is already in your shopping list.";
                    }
                }
                $scope.removeItem = function (x) {
                    $scope.errortext = "";    
                    $scope.products.splice(x, 1);
                }
            });
            </script>
            <center>
                <div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin" style="max-width:400px;">
                  <header class="w3-container w3-light-grey w3-padding-16">
                    <h3>Add Dishes(Your choice)</h3>
                  </header>
                  <ul class="w3-ul">
                    <li ng-repeat="x in products" class="w3-padding-16">{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
                  </ul>
                  <div class="w3-container w3-light-grey w3-padding-16">
                    <div class="w3-row w3-margin-top">
                      <div class="w3-col s10">
                          <select placeholder="Add item"ng-model="addMe" class="w3-input w3-border w3-padding">
                               <option value="Soda Rs15">Soda Rs15</option>
                  <option value="Chocolate Icecream Rs30">Chocolate Icecream Rs30</option>
                  <option value="Strawberry Icecream Rs30">Strawberry Icecream Rs30</option>
                  <option value="Falooda Rs70">Falooda Rs70</option>
                  <option value="Chocolate Milkshake Rs70">Chocolate Milkshake Rs70</option>
                  <option value="Vanilla Milkshake Rs70">Vanilla Milkshake Rs70</option>
                  </select>
                      </div>
                      <div class="w3-col s2">
                        <button ng-click="addItem()"class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                      </div>
                    </div>
                    <p class="w3-text-red">{{errortext}}</p>
                  </div>
                </div>
                </center><br><br>
                <a href="confirm.html"><button style="float:left;margin-left:500px" onclick="alert('items added')"type="button" class="btn btn-success">Add items</button></a>
               <a href="confirm.html"><button style="float:right;margin-right:500px" type="button" class="btn btn-success">SKIP</button></a><br><br>
    </body>
</html>